<div ng-controller="deleteFeatureController" class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h4> Are you sure that you want to remove selected feature? </h4>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default pull-right" ng-click="cancel()">No</button>
            <button class="btn btn-default pull-right" ng-click="removeFeature()">Yes</button>
        </div>
    </div>
</div>
