<div ng-controller="deleteLayerController" class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h4> Are you sure that you want to remove this layer? </h4>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default pull-right" ng-click="dismissRemoval()">No</button>
            <button class="btn btn-default pull-right" ng-click="removeLayer()">Yes</button>
        </div>
    </div>
</div>
