.layer-container {
  position: absolute;
  top: 1em;
  left: 0;
  width: 230px;
}

.layer-list-container {
  min-height: 100px;
  max-height: 200px;
  overflow-y: auto;
}

.btn-new-layer {
  margin: 5px 5px 5px 0;
}

.padding-fix {
  padding-top: 8px !important;
}

.span-padding-fix {
  padding-top: 12px !important;
}

.layer-selected {
  background-color: rgb(200,200,200);
}

.layer-list-container li {
  cursor:pointer;
}
