<div class="container-fluid">
   <table class="table table-responsive table-striped">
      <tr>
         <td>NAME:</td>
         <td>{{activeLayer.name}}</td>
      </tr>
      <tr>
         <td>TYPE:</td>
         <td></td>
      </tr>
      <tr>
         <td>AREA:</td>
         <td></td>
      </tr>
      <tr>
         <td>LENGTH:</td>
         <td></td>
      </tr>
      <tr>
         <td>COORDINATES:</td>
         <td></td>
      </tr>
   </table>

   <!-- <table class="table table-responsive">
      <tr>
         <td></td>
         <td></td>
      </tr>
   </table> -->
</div>
