<div ng-controller="toolsController" class="tools-container">
    <div class="container-fluid">
        <div class="row bg-primary">
            <h4 class="text-primary text-center">Tools</h4>
        </div>
        <div class="row bg-info text-center">
            <div>
                <label class="text-info">draw &bull; modify &bull; delete</label>
            </div>
            <div class="tools-group">
                <button class="btn-tool" ng-click="toggleTool('draw')">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
                <button class="btn-tool" ng-click="toggleTool('modify')">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
                <button class="btn-tool" ng-click="toggleTool('delete')">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
            </div>
        </div>
    </div>
</div>
